<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.com/libraries/bulma" type="text/css" />
		<title>Burger Joint!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>